<h4>show all article</h4>

<p>
  title: <%= @article.title %>
</p>
<p>
  description: <%= @article.description %>
</p>

<%= link_to "Edit articles",edit_article_path(@article) %> | <%= link_to "all article list",articles_path %>
