<div class="container">
  <footer class="footer">
    <small>
      copywright &copy; <a href="#">SS industries</a>
    </small>
      <nav>
        <ul>
          <li><a href="#">About</a></li>
          
        </ul>
      </nav>

  </footer>
</div>
